#github-icon {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 1.2rem;
    left: 1rem;
    cursor: pointer;
}

.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 43rem;
}

.description {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.urlscan-link {
    color: inherit;
    text-decoration: none;
}

.urlscan-link:hover {
    color: DeepSkyBlue;
    text-decoration: underline;
}

@media (max-width: 768px) {
    .description {
        font-size: 90%;
    }
}