.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 43rem;
}

.description {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
}

.urlscan-link {
    color: inherit;
    text-decoration: none;
}

.urlscan-link:hover {
    color: DeepSkyBlue;
    text-decoration: underline;
}