.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 42rem;
}

/* https://css-loaders.com/dots/ */
.loading {
    width: 75px;
    aspect-ratio: 4;
    --_g: no-repeat radial-gradient(circle closest-side, currentColor 90%, transparent);
    background:
        var(--_g) 0% 50%,
        var(--_g) 50% 50%,
        var(--_g) 100% 50%;
    background-size: calc(100%/3) 100%;
    animation: l7 1s infinite linear;
}

@keyframes l7 {
    33% {
        background-size: calc(100%/3) 0%, calc(100%/3) 100%, calc(100%/3) 100%
    }

    50% {
        background-size: calc(100%/3) 100%, calc(100%/3) 0%, calc(100%/3) 100%
    }

    66% {
        background-size: calc(100%/3) 100%, calc(100%/3) 100%, calc(100%/3) 0%
    }
}

.error {
    font-size: 200%;
    margin-top: 3rem;
    margin-left: 0.5rem;
    padding-left: 0.75rem;
}

.scan-result {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    padding-top: 3rem;
    gap: 1rem;
}

.summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    font-size: 150%;
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.summary p {
    margin: 0.5rem;
    overflow-wrap: anywhere;
}

.screenshot-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    aspect-ratio: 4/3;
}

.screenshot {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .loading {
        width: 3rem;
    }

    .error {
        font-size: 100%;
        margin-top: 1rem;
        padding-left: 1rem;
    }

    .scan-result {
        flex-direction: column;
        padding-top: 1.5rem;
        gap: 1rem;
    }

    .summary {
        width: 90%;
        font-size: 100%;
    }

    .screenshot-container {
        width: 90%;
    }
}