.header-container {
    display: flex;
    align-items: flex-start;
    gap: 1%;
    padding-left: 0.5rem;
}

.header-container .title {
    font-size: 250%;
    margin: 0;
}

.header-container .input-container {
    height: 3rem;
}

.header-container .search-bar {
    height: 89%;
    font-size: 125%;
}

.home-link {
    color: inherit;
    text-decoration: none;
}