#gear {
    width: 20px;
    height: 20px;
}

.options-container {
    position: relative;
    justify-content: center;
}

.options-button {
    background-color: darkgray;
    border-radius: 0px 5px 5px 0px;
    border: 0;
    height: 100%;
    width: 3.5rem;
}

.options-button:hover {
    background-color: gray;
}

.options-menu {
    background-color: gray;
    display: flex;
    flex-direction: column;
    position: absolute;
    border-radius: 0px 5px 5px 5px;
    width: 3.5rem;
    overflow: hidden;
}

.options-menu button {
    background-color: transparent;
    border: 0;
    color: white;
    text-align: center;
    height: 1.5rem;
}

.options-menu .public:hover, .options-menu .public.selected {
    background-color: mediumseagreen;
}

.options-menu .unlisted:hover, .options-menu .unlisted.selected {
    background-color: dodgerblue;
}

.options-menu .private:hover, .options-menu .private.selected {
    background-color: lightsalmon;
}