.input-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 3.5rem;
}

.search-bar {
    flex: 1;
    font-size: 150%;
    width: 50rem;
    padding-left: 1%;
    padding-right: 1%;
    border-radius: 5px 0px 0px 5px;
}

.search-bar:focus {
    border-color: inherit;
    box-shadow: 0px 0px 2px currentColor;
    transition: border-color 0.25s ease, box-shadow 0.25s ease;
}

.scan-button {
    background-color: DeepSkyBlue;
    border: 0;
    color: white;
    font-size: 100%;
    height: 100%;
    width: 5rem;
}

.scan-button:hover {
    background-color: DodgerBlue;
}

#magnifier {
    width: 20px;
    height: 20px;
}

.scan-link {
    text-decoration: none;
}

@media (max-width: 768px) {
    .input-container {
        height: 3rem;
    }

    .search-bar {
        font-size: 125%;
        width: 60vw;
    }

    .scan-button {
        width: 3rem;
        font-size: 0;
    }
}