.input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 3.5rem;
}

.search-bar {
    flex: 1;
    font-size: 150%;
    height: 91%;
    width: 50rem;
    padding-left: 1%;
    padding-right: 1%;
}

.search-bar:focus {
    border-color: inherit;
    transition: border-color 0.25s ease;
}

.scan-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: DeepSkyBlue;
    border-radius: 5px;
    border: 0;
    color: white;
    font-size: 100%;
    height: 3.5rem;
    width: 5rem;
}

.scan-button:hover {
    background-color: DodgerBlue;
}

#magnifier {
    width: 20px;
    height: 20px;
}

.scan-link {
    text-decoration: none;
}