body {
    background-color: rgb(50,50,50);
    margin: 0;
    padding: 0;
    color: white;
    overflow: hidden;
}

.dark {
    background-color: rgb(50,50,50);
    color: white;
    transition: background-color 0.5s, color 0.5s;
}


.light {
    background-color: ghostwhite;
    color: rgb(50,50,50);
    transition: background-color 0.5s, color 0.5s;
}

.theme-button {
    position: absolute;
    top: 1.2rem;
    right: 1rem;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

#theme-icon {
    display: block;
    width: 25px;
    height: 25px;
}